zebrademo/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "zebrademo"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Run-BatchEndpoint-MI')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Invoke Batch-Endpoint",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@pipeline().parameters.endpoint_uri",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "@replace(replace(replace('{\n    \"properties\": {\n    \t\"InputData\": {\n    \t\t\"mnistinput\": {\n    \t\t\t\"JobInputType\" : \"<JOB_INPUT_TYPE>\",\n    \t\t\t\"Uri\" : \"<JOB_INPUT_URI>\"\n    \t\t}\n        },\n        \"OutputData\": {\n            \"customOutput\": {\n                \"JobOutputType\" : \"UriFile\",\n                \"Uri\" : \"<JOB_OUTPUT_URI>\"\n            }\n        }\n    }\n}',\n'<JOB_INPUT_URI>', pipeline().parameters.endpoint_input_uri),\n'<JOB_INPUT_TYPE>', pipeline().parameters.endpoint_input_type),\n'<JOB_OUTPUT_URI>', pipeline().parameters.endpoint_output_uri)",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://ml.azure.com"
							}
						}
					},
					{
						"name": "Wait for run",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Invoke Batch-Endpoint",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@or(and(contains(activity('Check-Status').output, 'properties'), or(equals(activity('Check-Status').output.properties.status, 'Completed'), or(equals(activity('Check-Status').output.properties.status, 'Canceled'), equals(activity('Check-Status').output.properties.status, 'Failed')))), not(equals(activity('Fail-Pipeline-Check'), null)))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Check-Status",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Wait",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat(pipeline().parameters.endpoint_uri, '/', activity('Invoke Batch-Endpoint').output.name)",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {
											"Content-Type": "application/json"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://ml.azure.com"
										}
									}
								},
								{
									"name": "Wait",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": {
											"value": "@pipeline().parameters.poll_interval",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Propage-Error",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Check-Status",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@and(contains(activity('Check-Status').output, 'properties'), or(equals(activity('Check-Status').output.properties.status, 'Failed'), equals(activity('Check-Status').output.properties.status, 'Canceled')))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Fail-Pipeline-Job",
												"type": "Fail",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"message": "Job has failed or has been canceled",
													"errorCode": "JobTerminated"
												}
											}
										]
									}
								},
								{
									"name": "Fail-Pipeline-Check",
									"type": "Fail",
									"dependsOn": [
										{
											"activity": "Check-Status",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@activity('Check-Status').output.error.message",
											"type": "Expression"
										},
										"errorCode": {
											"value": "@activity('Check-Status').output.error.code",
											"type": "Expression"
										}
									}
								}
							],
							"timeout": "0.12:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"endpoint_uri": {
						"type": "string",
						"defaultValue": "https://taxi-gha-bep-mlops-zebrademoprod.norwayeast.inference.ml.azure.com/jobs"
					},
					"poll_interval": {
						"type": "int",
						"defaultValue": 120
					},
					"endpoint_input_uri": {
						"type": "string",
						"defaultValue": "/subscriptions/5251204e-6ae9-4060-8a7d-2dcdacbec750/resourceGroups/rg-mlops-zebrademoprod/providers/Microsoft.MachineLearningServices/workspaces/mlw-mlops-zebrademoprod/data/taxi-batch/versions/1"
					},
					"endpoint_input_type": {
						"type": "string",
						"defaultValue": "UriFile"
					},
					"endpoint_output_uri": {
						"type": "string",
						"defaultValue": "azureml://datastores/workspaceblobstore/paths/batch/predictions.csv"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-02-01T22:13:53Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/taxibatch')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "taxi-batch.csv",
						"container": "batchdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "distance",
						"type": "String"
					},
					{
						"name": "dropoff_latitude",
						"type": "String"
					},
					{
						"name": "dropoff_longitude",
						"type": "String"
					},
					{
						"name": "passengers",
						"type": "String"
					},
					{
						"name": "pickup_latitude",
						"type": "String"
					},
					{
						"name": "pickup_longitude",
						"type": "String"
					},
					{
						"name": "pickup_weekday",
						"type": "String"
					},
					{
						"name": "pickup_month",
						"type": "String"
					},
					{
						"name": "pickup_monthday",
						"type": "String"
					},
					{
						"name": "pickup_hour",
						"type": "String"
					},
					{
						"name": "pickup_minute",
						"type": "String"
					},
					{
						"name": "pickup_second",
						"type": "String"
					},
					{
						"name": "dropoff_weekday",
						"type": "String"
					},
					{
						"name": "dropoff_month",
						"type": "String"
					},
					{
						"name": "dropoff_monthday",
						"type": "String"
					},
					{
						"name": "dropoff_hour",
						"type": "String"
					},
					{
						"name": "dropoff_minute",
						"type": "String"
					},
					{
						"name": "dropoff_second",
						"type": "String"
					},
					{
						"name": "store_forward",
						"type": "String"
					},
					{
						"name": "vendor",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run Batch Prediction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Run-BatchEndpoint-MI",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Sink",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Run-BatchEndpoint-MI",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"endpoint_uri": "https://taxi-gha-bep-mlops-zebrademoprod.norwayeast.inference.ml.azure.com/jobs",
								"poll_interval": 120,
								"endpoint_input_uri": "/subscriptions/5251204e-6ae9-4060-8a7d-2dcdacbec750/resourceGroups/rg-mlops-zebrademoprod/providers/Microsoft.MachineLearningServices/workspaces/mlw-mlops-zebrademoprod/data/taxi-batch/versions/1",
								"endpoint_input_type": "UriFile",
								"endpoint_output_uri": "azureml://datastores/workspaceblobstore/paths/batch/predictions.csv"
							}
						}
					},
					{
						"name": "Sink",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "taxibatch",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "taxibatch",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Run-BatchEndpoint-MI')]",
				"[concat(variables('factoryId'), '/datasets/taxibatch')]"
			]
		}
	]
}